<div class="modal fade" id="createOrEditFormModal" aria-labelledby="createOrEditFormModalLabel" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-simple">
        <div class="modal-content">
            <div class="modal-header margin-bottom-30 " id="createOrEditFormModalHeader">
                <button type="button" class="close font-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title font-white" id="createOrEditFormModalTitle"></h4>
            </div>
            <div class="modal-body" id="createOrEditFormBody">

            </div>
        </div>
    </div>
</div>
